/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 0;
    color: #eee;
    background-color: #333;
}

.jumbotron {
    background-color: #111;
}