/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 0;
    color: #eee;
    background-color: #333;
}

.jumbotron,
.navbar-inverse {
    background-color: #111;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text {
    color: #eee;
}

.hint {
    font-size: 12px;
}